{% extends "base_generic.html" %}

{% block content %}
<header class="px-4 pt-5 pb-4">
  <h1 class="text-xl font-bold">All Borrowed Books</h1>
</header>

<main class="flex flex-col p-4 h-full">
  {% if bookinstance_list %}
  <ul>
    {% for bookinst in bookinstance_list %} 
    <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
      <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }}) {% if user.is_staff %}- {{ bookinst.borrower }}{% endif %} {% if perms.catalog.can_mark_returned %}- <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>  {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% else %}
    <p class="text-sm">There are no books borrowed.</p>
  {% endif %}       
</main>
{% endblock %}
