{% extends "base_generic.html" %}

{% block content %}

<header class="px-4 pt-5">
    <h1 class="text-2xl font-bold">{{ book.title }}</h1>
</header>

<main class="flex flex-col px-4 space-y-4 pb-4 h-full">
    <p>
        <a href="{{ book.author.get_absolute_url }}">{{ book.author.first_name }} {{ book.author.last_name }}</a>
    </p>
    <div class="flex flex-col border-2 border-gray-800 p-2 rounded-sm space-y-2">
        <p><strong>Summary:</strong> {{ book.summary }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Language:</strong> {{ book.language }}</p>
        <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
    </div>

    <div class="flex flex-col space-y-3">
        <h4 class="text-lg font-medium">Copies</h4>

        {% for copy in book.bookinstance_set.all %}
        <hr>
        <div class="border-2 border-gray-500 hover:border-gray-800 w-1/2 p-4 rounded-md">
            <p
                class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">
                {{ copy.get_status_display }}</p>
            {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
            <p><strong>Imprint:</strong> {{copy.imprint}}</p>
            <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
        </div>

        {% endfor %}
    </div>
    {% endblock %}
</main>